:host {
  position: relative;
  bottom: 5rem;
  h2 {
    background-color: #30495f;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    margin: 1rem 2rem;
    border-radius: 5px;
    position: relative;
    top: 2rem;
  }
  #submit {
    position: relative;
    left: 50%;
    bottom: 35.4rem;
  }
  #cancel {
    position: relative;
    left: 80%;
    bottom: 3.5rem;
  }
  #delete {
    position: relative;
    left: 54%;
    bottom: 35.4rem;
  }
  label {
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    display:block;
  }
  input {
    display:block;
    width: 10rem;
  }
}
