<h2>Add Game</h2>
<app-button (click)="pressCancel()"
            id="cancel"
            [bgColor]="bgColor"
            [fontWeight]="fontWeight"
            [fontFamily]="fontFamily"
            [fontColor]="fontColor"
            [borderRadius]="borderRadius"
            [width]="width"
            [height]="height"
            [fontSize]="fontSize">
CANCEL</app-button>

<app-card [borderRadius]="borderRadius"
          [bgColor]="cardBgColor"
          [width]="cardWidth"
          [height]="cardHeight"
          [padding]="cardPadding"
          [margin]="cardMargin">
  <form *ngIf="form"
        [formGroup]="form">
    <label>ID
      <input formControlName="id" disabled/>
    </label>
    <br>
    <label>Name
      <input formControlName="name" />
    </label>
    <br>
    <label>Image URL
      <input formControlName="imageURL" />
    </label>
    <br>
    <label>Platform
      <input formControlName="platform" />
    </label>
    <br>
    <label>Image URL
      <input formControlName="imgUrl" />
    </label>
    <br>
    <label>Number of Hours to Complete
      <input formControlName="numHrsComplete" />
    </label>
    <br>
    <label>Priority
      <input formControlName="priority" />
    </label>

    <app-button (click)="submitForm(form)"
                id="submit"
                [bgColor]="bgColor"
                [fontWeight]="fontWeight"
                [fontFamily]="fontFamily"
                [fontColor]="fontColor"
                [borderRadius]="borderRadius"
                [width]="width"
                [height]="height"
                [fontSize]="fontSize">
      SUBMIT</app-button>
  </form>
</app-card>
