:host {
  .card {
    height: 23rem;
    border-radius: 5px;
    background-color: #30495f;
    width: 100%;
    padding: 1rem;
    margin: 0 2rem;
  }
}
:host:not(:first-of-type) {
  margin-left: 50px;
}
