<h2>Games Owned</h2>
<app-button (click)="addGame()"
            id="add-game"
            [bgColor]="bgColor"
            [fontWeight]="fontWeight"
            [fontFamily]="fontFamily"
            [fontColor]="fontColor"
            [borderRadius]="borderRadius"
            [width]="width"
            [height]="height"
            [fontSize]="fontSize">
    ADD GAME
</app-button>
<div class="flex-container">
    <app-card *ngFor="let game of gameList"
              (click)="router.navigate(['/edit-game/', game.id])"
              class="card">
                <div class="completion-color" [ngClass]="getCardColor(game)"></div>
                <img [src]="game.imgUrl"
                     alt=""
                     [style.width]="picWidth"/>

                <h2>{{ game.name }}</h2>
                <h3>{{ game.platformName ? game.platformName : 'n/a' }}</h3>
                <p>Est. % Completion {{ (game.hrsPlayed/game.numHrsComplete)*100 | number : '.1-1' }}%</p>
                <p>Completion Date: {{ game }}</p>
    </app-card>
</div>
